.services__block {
  display: flex;
  flex-direction: column;
  padding-top: 144px;
  gap: 32px;
}

.title {
  margin-bottom: 64px !important;
}

.services__items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.services__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.services__item img {
  border-radius: 8px;
  width: 709px;
  height: auto;
}

.services__item__text {
  width: 45%;
}

.services__item__text h4 {
  margin-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 39px;
  line-height: 120%;
  color: var(--text-dark);
}

.services__item__text ul {
  margin-left: 20px;
}

.services__item__text ul li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-dark);
}

@media (max-width: 1440px) {
  .services__block {
    padding-top: 120px;
  }

  .services__item img {
    width: 620px;
  }

  .services__item__text h4 {
    font-size: 34.5px;
  }
}

@media (max-width: 1280px) {
  .services__block {
    padding-top: 96px;
  }

  .services__item img {
    width: 541px;
  }

  .services__item__text h4 {
    font-size: 31px;
  }

  .services__item__text ul li {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .services__block {
    padding-top: 69px;
  }

  .services__item img {
    width: 342px;
  }

  .services__item ul {
    margin-left: 20px;
  }

  .services__item__text h4 {
    font-size: 28px;
  }

  .services__item__text ul li {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .services__item {
    flex-direction: column-reverse;
    align-items: start;
  }

  .services__item__reverse {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .services__item__text h4 {
    font-size: 25px;
  }

  .services__item img {
    width: 387px;
  }

  .services__item__text {
    width: 100%;
  }

  .title {
    margin-bottom: 32px !important;
  }
}

@media (max-width: 480px) {
  .services__item img {
    max-width: 100%;
    margin: 0 auto;
  }

  .title {
    margin-bottom: 24px !important;
  }

  .services__item__text h4 {
    margin-bottom: 8px;
    font-size: 22px;
  }
}
