.header__navbar ul {
  margin-bottom: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.header__navbar ul li {
  position: relative;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #4c4c4c;
  transition: text-decoration 0.3s ease-in-out;
}

.header__navbar ul li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #63cdf7;
  transition: width 0.5s ease-in-out;
}

.header__navbar ul li:hover::before {
  width: 100%;
}

@media (max-width: 1440px) {
  .header__navbar ul li {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  .header__navbar ul {
    gap: 32px;
  }

  .header__navbar ul li {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .header__navbar ul {
    gap: 16px;
  }

  .header__navbar ul li {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header__navbar__block {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 72px;
    left: 0;
    transform: translateY(-120%);
    transition: all 0.3s;
    visibility: hidden;
  }

  .header__navbar__block.active {
    transform: translateY(0%);
    visibility: visible;
  }

  .header__navbar {
    background: #fff;
    height: 451px;
  }

  .blur {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 451px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }

  .header__navbar ul {
    flex-direction: column;
    text-align: center;
    gap: 0px;
  }

  .header__navbar ul li {
    font-size: 16px;
    color: var(--text-dark);
    border-bottom: 1px solid var(--text-dark);
  }

  .header__navbar ul li:first-child {
    border-top: 1px solid var(--text-dark);
  }

  .header__navbar ul li::before {
    display: none;
  }

  .header__navbar ul li a {
    display: block;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

@media (max-width: 480px) {
}
