.projects__block {
  margin-top: 144px;
}

.cotantacts_map{
  width: fit-content;
  height: fit-content;
}

.title {
  margin-bottom: 8px !important;
}

.projects_title {
  font-family: "Inter", sans-serif;
  font-size: 3.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 0.5rem;
}

.projects_subtitle {
  margin-bottom: 42px;
  font-family: "Inter", sans-serif;
  font-size: 1.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.projects_blocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.projects_block {
  display: flex;
  align-items: center;
}

.metrovagon {
  gap: 5.875rem;
}

.kolom {
  gap: 2.25rem;
}

.tverskoi {
  gap: 3rem;
}

.projects_img {
  border-radius: 8px;
  width: 50.29169rem;
  height: 28.82919rem;
}

.projects_block_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.projects_block_name {
  font-family: "Inter", sans-serif;
  font-size: 2.4375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;

  text-align: center;
}

.projects_block_button {
  cursor: pointer;

  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 0.25rem;
  border: 1px solid var(--Text-dark, #141414);
  background-color: transparent;

  color: var(--Text-dark, #141414);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/* Modal */

.modal_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal_text {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  text-indent: 1.5rem;
  text-align: justify;
}

.modal_text_ul {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.modal_list {
  padding-left: 1.2rem;
}

.close {
  border: none;
  background: none;
  width: 100%;

  cursor: pointer;
}

.close img {
  float: right;
}

@media (max-width: 1440px) {
  .projects__block {
    margin-top: 120px;
  }

  .projects_subtitle {
    font-size: 28px;
    font-weight: 400;
  }

  .projects_img {
    width: 660px;
    height: 378px;
  }

  .projects_block_name {
    font-size: 35px;
  }

  .modal_img{
    width: 330px;
    height: 189px;
  }

  .modal_text, .modal_text_ul{
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .projects__block {
    margin-top: 96px;
  }

  .projects_subtitle {
    font-size: 1.5625rem;
    font-weight: 400;
  }

  .projects_subtitle {
    font-weight: 400;
  }

  .projects_img {
    width: 610px;
    height: 350px;
  }

  .projects_block_name {
    font-size: 1.9375rem;
  }
}

@media (max-width: 1000px) {
  .projects__block {
    margin-top: 69px;
  }

  .projects_img {
    width: 476px;
    height: 273px;
  }

  .projects_block_name {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .projects_subtitle{
    margin-bottom: 24px;
  }

  .projects_blocks {
    align-items: center;
  }
  
  .projects_block {
    flex-direction: column;
    gap: 0.75rem;
  }

  .projects_img {
    width: 342px;
    height: 196px;
  }

  .projects_block_name {
    font-size: 1.5625rem;
    font-weight: 400;
  }

  .projects_block_button {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .projects_block {
    flex-direction: column;
    gap: 0.75rem;
  }

  .modal_img{
    width: 247px;
    height: 141px;
  }

  .modal_text, .modal_text_ul{
    font-size: 14px;
  }
}
