.footer {
  background: #0a539d;
}

.footer__block {
  max-width: 1440px;
  margin: 0 auto;
  padding: 42.15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__block p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

@media (max-width: 1440px) {
  .footer__block {
    max-width: 1280px;
    margin: 0 auto;
  }

  .footer__block p {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  .footer__block {
    max-width: 1000px;
    margin: 0 auto;
  }

  .footer__block p {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .footer__block {
    max-width: 768px;
    margin: 0 auto;
  }

  .footer__block p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .footer__block {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .footer__block {
    max-width: 90%;
    margin: 0 auto;
  }
}
