.footer {
  background: #6d6e71;
  height: 150px;
}

.footer__block {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__block p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  margin: 0;
}

@media (max-width: 1440px) {
  .footer__block {
    max-width: 1280px;
    margin: 0 auto;
  }

  .footer__block p {
    font-size: 18px;
  }

  .footer {
    height: 128px;
  }
}

@media (max-width: 1280px) {
  .footer__block {
    max-width: 1000px;
    margin: 0 auto;
  }

  .footer__block p {
    font-size: 16px;
  }
  .footer {
    height: 100px;
  }
}

@media (max-width: 1000px) {
  .footer__block {
    max-width: 768px;
    margin: 0 auto;
  }

  .footer__block p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .footer__block {
    max-width: 90%;
    margin: 0 auto;
  }
  
  .footer {
    height: 72px;
  }
}

@media (max-width: 480px) {
  
}
