@import "bootstrap/dist/css/bootstrap.min.css";
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;


    gap: 2rem;
}

.carousel{
    border-radius: 8px;
    width: 50.29169rem;
    height: 28.82919rem;
}

.carousel img{
    filter: brightness(80%);
    border-radius: 8px;
    width: 50.29169rem;
    height: 28.82919rem;
}

.carousel h2{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
}

.carousel p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
}

@media (max-width: 1440px) {
    .carousel{
        width: 660px;
        height: 378px;
    }
    
    .carousel img{
        width: 660px;
        height: 378px;
    }

}


@media (max-width: 1280px) {
    .carousel{
        width: 610px;
        height: 350px;
    }
    
    .carousel img{
        width: 610px;
        height: 350px;
    }
}

@media (max-width: 1000px) {
    .carousel{
        width: 380px;
        height: 218px;
    }
    
    .carousel img{
        width: 380px;
        height: 218px;
    }
}

@media (max-width: 768px) {
    .carousel{
        width: 342px;
        height: 196px;
    }
    
    .carousel img{
        width: 342px;
        height: 196px;
    }
}