.heroBg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url("../../assets/images/MainBG.jpg") lightgray 50% / cover no-repeat;  height: calc(100vh - 230px);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.heroBG__text {
  padding-top: 128px;
  width: 940px;
}

.heroBG__text h1 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 76px;
  line-height: 120%;
  color: var(--text-light);
}

.heroBG__text h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: var(--text-light);
  opacity: 0.9;
}

@media (max-width: 1440px) {
  .heroBG__text {
    padding-top: 102px;
  }

  .heroBG__text h1 {
    font-size: 62.5px;
  }
}

@media (max-width: 1280px) {
  .heroBG__text h1 {
    font-size: 49px;
  }
}

@media (max-width: 1000px) {
  .heroBG__text {
    padding-top: 84px;
  }

  .heroBG__text {
    width: 575px;
  }
  
  .heroBG__text h1 {
    font-size: 44px;
  }

  .heroBG__text h4 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .heroBg {
    height: calc(100vh - 280px);
  }

  .heroBG__text {
    padding-top: 64px;
  }

  .heroBG__text {
    width: 440px;
  }

  .heroBG__text h1 {
    font-size: 39px;
  }
}

@media (max-width: 480px) {
  .heroBG__text {
    width: 100%;
  }
}
