@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Inter Tight", sans-serif;
  --tmx-light-blue: #62c6f2;
  --tmx-dark-blue: #0a539d;
  --text-dark: #141414;
  --text-light: #f6f6ff;
  --design-background: #f6f6ff;
}

body {
  background: #f6f6ff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
  width: 267px;
  height: auto;
}

.logo img {
  vertical-align: middle;
  width: 100%;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 61px;
  line-height: 120%;
  color: var(--text-dark);
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .title {
    font-size: 50px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .logo {
    width: 159px;
  }

  .title {
    font-weight: 500;
    font-size: 39px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .title {
    font-size: 34.5px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }

  .logo {
    width: 145px;
  }

  .title {
    font-size: 31px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  .logo {
    width: 129px;
  }
}
