.header {
  z-index: 999;
  background: #fff;
  height: 100px;
  position: sticky;
  top: 0;
  line-height: 100px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
}

.header__block {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__button {
  display: none;
}

.header__button__bar1,
.header__button__bar2,
.header__button__bar3 {
  width: 25px;
  height: 3px;
  background: black;
  margin: 4.5px 0;
  transition: all 0.4s;
}

.active .header__button__bar1 {
  transform: translate(0, 7.5px) rotate(-45deg);
}

.active .header__button__bar2 {
  opacity: 0;
}

.active .header__button__bar3 {
  transform: translate(0, -7.5px) rotate(45deg);
}

@media (max-width: 1440px) {
  .header__block {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media (max-width: 1280px) {
  .header {
    height: 80px;
  }

  .header__block {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .header__block {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header {
    border-bottom: 1px solid white;
  }
  .header__block {
    max-width: 90%;
    margin: 0 auto;
  }

  .header__button {
    display: inline-block;
    cursor: pointer;
  }

  .header {
    height: 72px;
  }
}

@media (max-width: 480px) {
}
