.header {
  z-index: 999;
  background: #0a539d;
  height: 100px;
  position: sticky;
  top: 0;
  line-height: 100px;
}

.header__block {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__button {
  display: none;
}

@media (max-width: 1440px) {
  .header__block {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media (max-width: 1280px) {
  .header{
    height: 80px;
  }

  .header__block {
    max-width: 1000px;
    margin: 0 auto;
  } 
}

@media (max-width: 1000px) {
  .header__block {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header__block {
    max-width: 90%;
    margin: 0 auto;
  }

  .header__button {
    display: block;
  }

  .header{
    height: 72px;
  }
}

@media (max-width: 480px) {

}
